<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="SpringService" class="com.springexample.service.SpringService"></bean>
    <bean id="SpringDao" class="com.springexample.dao.SpringDao"></bean>
</beans>