@charset "UTF-8";
body,header,nav,ul,li,font,p,h1,h2,h3,h4,h5,h6,footer{
    margin: 0px;
    padding: 0px;
}
a{text-decoration: none;}
li{list-style-type: none;}

header{
    width: 100%;
    height: 80px;
    background: #1c1c1c;
}
header h1{
    margin: 0 auto;
    width: 150px;
    text-align: center;
    color: #fff;
    line-height: 80px;
}