<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    </bean>

    <!--Action-->
    <bean id="stuAction" class="com.exam.web.StudentAction" scope="prototype">
        <property name="studentService" ref="studentService"/>
    </bean>
    <bean id="thAction" class="com.exam.web.TeacherAction" scope="prototype">
        <property name="teacherService" ref="teacherService"/>
    </bean>

    <!--Service-->
    <bean id="studentService" class="com.exam.service.impl.StudentServiceImpl">
        <property name="studentDao" ref="studentDao"/>
    </bean>
    <bean id="teacherService" class="com.exam.service.impl.TeacherServiceImpl">
        <property name="teacherDao" ref="teacherDao"/>
    </bean>

    <!--Dao-->
    <bean id="studentDao" class="com.exam.dao.impl.StudentDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="teacherDao" class="com.exam.dao.impl.TeacherDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--tx-->
    <bean id="tx" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="tx"/>
</beans>