<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    </bean>

    <!--Action-->
    <!--学生-->
    <bean id="stuAction" class="com.exam.web.StudentAction" scope="prototype">
        <property name="studentService" ref="studentService"/>
    </bean>
    <!--老师-->
    <bean id="thAction" class="com.exam.web.TeacherAction" scope="prototype">
        <property name="teacherService" ref="teacherService"/>
    </bean>
    <!--班级-->
    <bean id="clsAction" class="com.exam.web.ClazzAction" scope="prototype">
        <property name="clazzService" ref="classService"/>
    </bean>
    <!--学科-->
    <bean id="courseAction" class="com.exam.web.CourseAcion" scope="prototype">
        <property name="courseService" ref="courseService"/>
    </bean>
    <!--考题-->
    <bean id="qsAction" class="com.exam.web.QuestionsAction" scope="prototype">
        <property name="questionsService" ref="qsService"/>
    </bean>
    

    <!--Service-->
    <!--学生service-->
    <bean id="studentService" class="com.exam.service.impl.StudentServiceImpl">
        <property name="studentDao" ref="studentDao"/>
    </bean>
    <!--老师service-->
    <bean id="teacherService" class="com.exam.service.impl.TeacherServiceImpl">
        <property name="teacherDao" ref="teacherDao"/>
    </bean>
    <!--班级service-->
    <bean id="classService" class="com.exam.service.impl.ClazzServiceImpl">
        <property name="clazzDao" ref="clazzDao"/>
    </bean>
    <!--学科service-->
    <bean id="courseService" class="com.exam.service.impl.CourseServiceImpl">
        <property name="courseDao" ref="courseDao"/>
    </bean>
    <!--考题service-->
    <bean id="qsService" class="com.exam.service.impl.QuestionsServiceImpl">
        <property name="questionsDao" ref="qsDao"/>
    </bean>



    <!--Dao-->
    <!--学生dao-->
    <bean id="studentDao" class="com.exam.dao.impl.StudentDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--老师dao-->
    <bean id="teacherDao" class="com.exam.dao.impl.TeacherDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--班级dao-->
    <bean id="clazzDao" class="com.exam.dao.impl.ClazzDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--学科dao-->
    <bean id="courseDao" class="com.exam.dao.impl.CourseDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--考题dao-->
    <bean id="qsDao" class="com.exam.dao.impl.QuestionsDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>


    <!--tx-->
    <bean id="tx" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="tx"/>
</beans>