<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/exam?userSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF8&amp;serverTimezone=GMT</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>



    <!-- 可选配置================== -->
    <!-- 后台打印SQL -->
    <property name="hibernate.show_sql">true</property>
    <!-- 格式化SQL -->
    <!--<property name="hibernate.format_sql">true</property>-->
    <!-- 自动创建表 -->
    <!--<property name="hibernate.hbm2ddl.auto">update</property>-->

    <!--配置hibernate方言(表示用的mysql)-->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

    <!--配置C3P0-->
    <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <!--以秒为单位-->
    <property name="hibernate.c3p0.timeout">120</property>
    <!-- 每3000秒检查所有连接池中空闲连接 以秒为单位 -->
    <property name="hibernate.c3p0.idle_test_period">3000</property>




    <mapping resource="Student.hbm.xml"/>
    <mapping class="login.domain.Student"/>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>