<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 整合hibernate -->
    <!-- 引入hibernate配置信息(相当于连接池) -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <!--引入hibernate xml文件-->
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    </bean>

    <!--Action-->
    <bean id="messageAction" class="com.maven.web.MessageAction" scope="prototype">
        <property name="messageService" ref="messageService"/>
    </bean>

    <!--Service-->
    <bean id="messageService" class="com.maven.service.impl.MessageServiceImpl">
        <property name="messageDao" ref="messageDao"/>
    </bean>

    <!--Dao-->
    <bean id="messageDao" class="com.maven.dao.impl.MessageDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--事务-->
    <bean id="tx" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="tx"/>
</beans>